basePath: /
definitions:
  types.User:
    properties:
      age:
        type: integer
      id:
        type: integer
      name:
        type: string
    type: object
info:
  contact: {}
  description: This is the API Documentation for the subscription alerts and tracking
    server
  title: Subscription Alerts And Tracker API
  version: "1.0"
paths:
  /users:
    get:
      consumes:
      - application/json
      description: Get all users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/types.User'
            type: array
      summary: Get list of users
      tags:
      - users
swagger: "2.0"
